#header {
padding-bottom: 20px;
}

#top-nav {
	background:#262626;
	margin-bottom:10px;
	overflow:auto;
	border-bottom:1px solid #303030;
	padding:5px 0;
}

#top-nav li,#top-nav p,#ajax_register_block_authenticated a {
	float:right;
	display:inline-block;
	font-size:10px;
	margin:0 0 0 20px;
}

#top-nav a:link,#top-nav a:visited {
	color:#fff;
}

#top-nav a:hover,#top-nav a:active {
	color:#ccc;
}

#block-menu-secondary-links {
	width:960px;
	margin:0 auto;
}

.not-logged-in #top-nav .last a {
	color:#aaa;
	display:none;
}

#new-pics h2 {
	float:left;
	display:block;
	font-size:20px;
	width:100px;
	line-height:21px;
}

#pics {
	float:left;
	margin-left:20px;
	width:640px;
	overflow:hidden;
	height:91px;
}

#pics .views-row {
	float:left;
	width:84px;
	height:84px;
	border:1px solid #aaa;
	display:inline-block;
	margin-right:20px;
	padding:2px;
}

#pics .views-row:hover {
	border:1px solid #333;
}

.video-inner {
	padding-left:20px;
	border-left:1px solid #555;
	overflow:hidden;
}

body {
	background:#fff url(../images/body-bg.jpg) fixed no-repeat center 0;
}

h1#logo a {
	background:transparent url(../images/sk-logo.png) no-repeat 0 0;
	height:132px;
	text-indent:-9009px;
	display:block;
}

#nav {
	margin-top:12px;
	margin-bottom:12px;
}

#nav ul,#nav li {
	list-style:none;
	margin:0;
	padding:0;
}

#nav li {
	float:left;
	display:inline-block;
	margin-right:24px;
	text-transform:uppercase;
	font-size:13px;
}

#nav .active-trail a {
	color:#20a886;
	border-bottom:2px solid #20a886;
}

.view-articles .views-row-odd,.view-articles .views-row-even {
	border-bottom:1px solid #000;
	padding-bottom:40px;
	margin-bottom:40px;
}

.views-field-title {
	font-size:24px;
	font-weight:700;
	margin-bottom:8px;
	clear:both;
}

.views-field-view-node {
	float:right;
	font-weight:700;
	padding:5px;
}

.views-field-view-node a:link,.views-field-view-node a:visited {
	color:#f39;
}

#footer p {
	font-size:11px;
}

.not-front .view-video .views-row {
	overflow:auto;
	border-bottom:1px solid #000;
	margin-bottom:40px;
	padding-bottom:40px;
}

.not-front .view-video .views-field-field-emvideo-embed {
	border:1px solid #d2d2d2;
	width:120px;
	height:90px;
	margin-right:10px;
	float:left;
	display:inline;
	padding:3px;
}

.views-field-created-time,.views-field-timestamp {
	color:#555;
}

.submitted {
	display:block;
	color:#555;
	margin:5px 0;
}

.not-front .view-video .views-field-field-emvideo-embed:hover {
	border:1px solid #666;
}

.view-video .views-field-teaser {
	float:left;
	width:322px;
}

div.ddblock-cycle-upright30 div.container {
	width:700px;
}

div.ddblock-cycle-upright30 div.container-inner {
	height:280px;
	position:relative;
}

div.ddblock-cycle-upright30 div.slider-inner {
	background:transparent url(../images/transparent_bg.png) repeat scroll 0 0!important;
	height:280px;
	overflow:hidden;
	position:relative;
	visibility:hidden;
}

div.ddblock-cycle-upright30 div.slide {
	display:none;
	height:100%;
	left:0;
	position:absolute;
	top:0;
}

div.ddblock-cycle-upright30 div.slide-inner img {
	height:280px;
	width:460px;
	margin:0!important;
	padding:0!important;
}

div.ddblock-cycle-upright30 div.slide-text {
	background:transparent url(../images/transparent-bg.png) repeat scroll 0 0!important;
	position:absolute;
}

div.ddblock-cycle-upright30 div.slide-text-horizontal {
	height:70px;
	left:0;
	width:460px;
	overflow:hidden;
}

div.ddblock-cycle-upright30 div.slide-text-vertical {
	height:303px;
	width:140px;
}

div.ddblock-cycle-upright30 div.slide-text-top {
	top:7px;
}

div.ddblock-cycle-upright30 div.slide-text-right {
	bottom:0;
	right:30px;
}

div.ddblock-cycle-upright30 div.slide-text-bottom {
	bottom:0;
	background:#f39;
}

div.ddblock-cycle-upright30 div.slide-text-left {
	bottom:0;
	left:30px;
}

div.ddblock-cycle-upright30 div.slide-text-inner {
	padding:10px;
}

div.ddblock-cycle-upright30 div.slide-title-vertical {
	width:460px;
}

div.ddblock-cycle-upright30 div.slide-title h2 {
	margin:-5px 0 0;
	padding:0;
}

div.ddblock-cycle-upright30 div.slide-title-inner {
	color:#FFF;
	font-weight:700;
}

div.ddblock-cycle-upright30 div.slide-body-vertical {
	width:132px;
}

div.ddblock-cycle-upright30 div.slide-body-horizontal {
	float:left;
	width:290px;
}

div.ddblock-cycle-upright30 div.slide-body-inner {
	color:#FFF;
}

div.ddblock-cycle-upright30 div.slide-body-inner p {
	margin:0 8px 0 0;
	padding:0;
}

div.ddblock-cycle-upright30 div.slide-read-more {
	width:110px;
}

div.ddblock-cycle-upright30 div.slide-read-more p {
	margin:0;
	padding:0;
}

div.ddblock-cycle-upright30 div.slide-read-more a {
	background:url(../images/gradient-button.png) 0 0 no-repeat;
	border:none;
	bottom:5px;
	height:28px;
	position:absolute;
	right:5px;
	text-decoration:none;
	text-align:left;
	width:100px;
	color:#FFF;
	font-size:11px;
	text-indent:-8008px;
	margin:0;
	padding:8px 0 0 29px;
}

div.ddblock-cycle-upright30 div.slide-read-more-horizontal a {
	right:9px;
}

div.ddblock-cycle-upright30 div.slide-read-more a:hover {
	text-decoration:underline;
}

div.ddblock-cycle-upright30 div.custom-pager {
	width:220px;
	position:absolute;
	right:0;
	top:0;
}

div.ddblock-cycle-upright30 div.custom-pager-inner {
	height:59px;
}

div.ddblock-cycle-upright30 div.custom-pager .custom-pager-item-inner {
	width:220px;
}

div.ddblock-cycle-upright30 div.custom-pager a {
	color:#222;
	display:block;
	font-weight:700;
	height:50px;
	line-height:27px;
	text-decoration:none;
	width:200px;
	border-bottom:1px solid #ccc;
	padding:10px;
}

div.ddblock-cycle-upright30 div.custom-pager a.activeslide {
	color:#111;
	background:url(../images/slide-pager-bg.png) 0 0 repeat-y;
}

div.ddblock-cycle-upright30 div.custom-pager a:focus {
	outline:none;
}

div.hr {
	height:1px;
	background:#555;
	margin-bottom:20px;
}

#sidebar-right h2,#sidebar-right2 h2 {
	padding-left:54px;
	margin-left:0;
	height:48px;
	padding-top:10px;
	margin-bottom:10px;
}

#block-views-tweets-block2 h2 {
	background:url(../images/twitterh2.png) 0 0 no-repeat;
}

#block-views-comments_recent-block h2 {
	background:url(../images/comment_bubble.png) 0 0 no-repeat;
}

#block-views-nodequeue_1-block h2 {
	background:url(../images/favorite.png) 0 0 no-repeat;
}

#block-fbconnect-0 {
	background:url(../images/FaceBook_48x48.png) 0 0 no-repeat;
}

#block-views-comments_recent-block li {
	list-style:none;
	padding-left:24px;
	background:url(../images/Comments-16x16.png) 0 0 no-repeat;
	margin:0 0 10px;
}

#block-views-nodequeue_1-block li {
	list-style:none;
	margin-left:0;
}

#block-views-nodequeue_1-block .views-field-title {
	font-size:12px;
}

#twitter h2 {
	text-indent:-9009px;
	width:153px;
	height:92px;
	background:url(../images/twitter-h2.png) 0 0 no-repeat;
	margin-bottom:6px;
}

#block-views-tweets-block2 li {
	list-style:none;
	padding-left:24px;
	background:url(../images/tweet.png) 0 0 no-repeat;
	margin-left:0;
	margin-bottom:10px;
}

div.admin-panel .body {
	padding:0!important;
}

div.admin .left,div.admin .right {
	width:50%;
	margin-left:0;
	margin-right:0;
}

div.admin .right .admin-panel {
	margin-left:10px;
}

#comments a:hover {
	color:#49b;
}

#comments a:focus {
	color:#e63;
	outline:1px dotted invert;
}

#comments a:active {
	color:#e63;
}

.comment .links a {
	margin-right:1em;
	padding:3px 0;
}

#comment-number {
	font-size:2em;
	color:#ffe;
}

div.comment {
	position:relative;
	background:url(../images/white-trans-10.png) 0 0 repeat;
	margin:20px 0;
	padding:10px 0 0;
}

div.indented {
	margin-left:0;
	padding-left:20px;
	background:url(../images/white-trans-10.png) 0 0 repeat;
}

div.comment-info {
	width:90px;
	float:right;
	background:url(../images/green-trans-50.png) 0 0 repeat;
	margin:0 10px 10px 0;
	padding:10px;
}

#comments .node-author {
	border-right:0 none;
}

.permalink {
	font-size:1.2em;
	font-weight:700;
	float:right;
	background:url(../images/green-trans-50.png) 0 0 repeat;
	margin:0 0 10px 10px;
	padding:3px 10px;
}

div.comment-content {
	background:url(../images/green-trans-50.png) 0 0 repeat;
	margin:0 130px 10px 0;
	padding:30px;
}

#comments .box {
	background:url(../images/green-trans-50.png) 0 0 repeat;
	margin-bottom:20px;
	padding:20px;
}

#comments .links a {
	color:#fff;
	background:#999;
	padding:3px 10px;
}

#comments .links a:hover,#comments .links .comment_reply a {
	color:#fff;
	background:#6bd;
}

#comments .links .comment_reply a:hover {
	color:#fff;
	background:#e63;
}

.user-signature {
	font-size:.9em;
	background:#eee;
	border:1px solid #fff;
	margin:10px 0 0;
	padding:10px;
}

#edit-comment,#edit-subject {
	width:420px;
}

.box {
	border:1px solid #d2d2d2;
	background:#fff;
	margin-bottom:20px;
	padding:20px;
}

ul.tips {
	display:none;
}

.view-gallery .views-field-field-image-fid {
height: 189px;
}

.node-type-gallery #content .views-row {
	float:left;
	display:inline;
	width:220px;
	margin:0 20px 20px 0;
}

.node-type-gallery #content .views-field-field-image-fid {
	border:1px solid #ccc;
	height:120px;
	width:214px;
	padding:2px;
}

.node-type-gallery #content .views-row-3,.node-type-gallery #content .views-row-6,.node-type-gallery #content .views-row-9 {
	margin-right:0;
}

ul.links li.photo_field_gallery,ul.links li.photo_field_gallery:hover,ul.links li.nodequeue-ajax-toggle {
	border:2px solid #d2d2d2;
	clear:right;
	margin-top:5px;
	background:#fff;
	font-weight:700;
	padding:5px 10px;
}

ul.links li.photo_field_gallery:hover {
	border:2px solid #aaa;
	padding:5px 10px;
}

.view-galleries-listing .views-row {
	overflow:auto;
	border:1px solid #aaa;
	padding:3px;
}

a.imagecache-334px_linked {
	overflow:hidden;
	height:188px;
	display:block;
}

.view-galleries-listing .col-1,.view-galleries-listing .col-2 {
	width:340px;
}

.view-galleries-listing .col-1 {
	padding-right:20px;
}

.node-type-gallery .content p,.view-galleries-listing .content p {
	font-size:18px;
	line-height:24px;
	color:#555;
	font-weight:700;
}

.views-field-comment-count {
	padding-left:24px;
	background:url(../images/Comments-16x16.png) 0 0 no-repeat;
	margin:0 0 10px;
}

.item-list .fbconnect-button {
	list-style-type:none;
	border:1px solid #d2d2d2;
	background:#fff;
	margin:0;
	padding:20px;
}

.fbconnect-button img {
	float:left;
	margin-right:14px;
}

.emvideo-thumbnail-replace-preview .emvideo-thumbnail-replacement span {
	left:40%;
	top:25%;
}

#pics .views-row-last,#block-views-new_pics-block_1,.box h2,p.imperative,.view-galleries-listing .views-field-field-image-fid {
	margin:0;
}

a,#comments a,#comments a:visited {
	text-decoration:none;
}

#header,#site-header,#site-subheader,#footer-region,.column,.node,.comment,.block,.comment h3.title {
	margin-bottom:20px;
}

h1#logo,h1#site-name,#block-views-video-block_1 {
	margin-bottom:0;
}

#nav a:link,#nav a:visited,.views-field-title a {
	color:#000;
}

#nav a:hover,#nav a:active,a:link,a:visited,div.ddblock-cycle-upright30 div.custom-pager a:hover {
	color:#20a886;
}

div.ddblock-cycle-upright30 div.slider,div.ddblock-cycle-upright30 div.slide-title-horizontal {
	float:left;
	width:460px;
}

div.ddblock-cycle-upright30 div.slide-title,ul.links li.nodequeue-ajax-toggle {
	float:left;
}

div.ddblock-cycle-upright30 div.slide-read-more-vertical a,div.ddblock-cycle-upright30 div.slide-read-more-vertical a:hover {
	right:5px;
}

#block-views-comments_recent-block ul,#block-views-tweets-block2 ul,#block-views-nodequeue_1-block ul,#block-fbconnect-0 ul,div.admin-panel,.comment .links,div.view-display-id-node_content_2 {
	padding:0;
}

.comment .user-signature p,.page-node #content .views-field-field-image-fid,.page-node #content .field-field-image,#content .view-articles .views-field-field-image-fid {
	margin-bottom:10px;
}

.node-type-gallery #content .views-field-field-image-fid:hover,.view-galleries-listing .views-row:hover {
	border:1px solid #555;
}

#content li {
background: url(../images/bullet-arrow.gif) 0 2px no-repeat;
padding-left: 20px;
list-style: none;
}

#content ul.links li {
background: none;
padding: 5px 10px;
}

/* Display none */
#disqus_thread li {
background: none;
}